{% extends "base.html" %}

{% block script %}

<script>

$(document).ready(function(){
	loadConvoContainer("convo-container", {{ object.id }})
});
</script>

{% endblock script %}

{% block content %}
<div class="row">
	<div class="col-sm-3 col-xs-12" style="background-color:yellow;">
		<h1>{{ object.user }}</h1>
	</div>
	<div class="col-sm-9 col-xs-12" >
		<div id="convo-container">
			
		</div>
	</div>
</div>

{% endblock content %}

<div class="row">
	<div class="col-sm-1" style="background-color: red;">
		 <br><br>
	</div>
	<div class="col-sm-1" style="background-color: yellow;">
		{{ object.user }} <br><br>
	</div>
	<div class="col-sm-1" style="background-color: green;">
		{{ object.user }} <br><br>
	</div>
	<div class="col-sm-1" style="background-color: blue;">
		 <br><br>
	</div>
</div>