{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Convo.ca {% endblock title %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .red-color {
        color: red;
      }
      .grey-color {
        color: #ccc;
      }
      .media-focus{
        background-color: rgba(255, 255, 0, 0.22);
      }
    </style>
  </head>
  <body>
  {% include "navbar.html" %}

    <div class="container">

      {% block content %}
      {% endblock content %}
    
    </div>

      {% include "reply-modal.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

function loadConvoContainer(convoContainerID, fetchOneId){
  var query = getParameterByName('q')
  var convoList = [];
  var nextConvoUrl;

  var convoContainer;
  // console.log(convoContainerID)
  if (convoContainerID){
    convoContainer = $("#" + convoContainerID)
  } else {
    convoContainer = $("#convo-container")
  }

  var initialURL = convoContainer.attr("data-url") || "/api/convo/";
  console.log(initialURL)

    $(document.body).on("click", ".convo-like", function(e){
      e.preventDefault()
      var this_ = $(this)
      var convoId = this_.attr("data-id")
      var likedUrl = '/api/convo/' + convoId + "/like/"
      // this_.text("Liked")    
      $.ajax({
        method:"GET",
        url: likedUrl,
        success: function(data){
          if (data.liked){
            this_.text("Liked")
          } else {
            this_.text("Unliked")
          }
        },
        error: function(data){
          console.log("error")
          console.log(data)
        }
      })
    })

    $(document.body).on("click", ".convo-reply", function(e){

      e.preventDefault()
      var this_ = $(this)
      var parentId = this_.attr("data-id")  
      var username = this_.attr("data-user")
      var content  = this_.parent().parent().find(".content").text()
      $("#replyModal").modal({})
      $("#replyModal textarea").after("<input type='hidden' value='" + parentId + "' name='parent_id' />")
      $("#replyModal textarea").after("<input type='hidden' value='" + true + "' name='reply' />")
      $("#replyModal textarea").val("@" + username + " ")
      $("#replyModal #replyModalLabel").text("Reply to " + content)
      $("#replyModal").on("shown.bs.modal", function(){
        $('textarea').focus()
      })
    })

  $(document.body).on("click", ".reconvBtn", function(e){

    e.preventDefault()
    console.log("clicked")
    var url = "/api" + $(this).attr("href")

    $.ajax({
      method: "GET",
      url: url,
      success: function (data){
        console.log(data)
        // if username is in the API path... let's ignore this
        if (initialURL == "/api/convo/"){
          attachConvo(data, true, true)
          updateHashLinks()
        }
  
      },
      error: function(data) {
        console.log("error")
        console.log(data)
      }
    })
  })

  function updateHashLinks(){
    $(".content").each(function(data){
      var hashtagRegex = /(^|\s)#([\w\d-]+)/g
      var usernameRegex = /(^|\s)@([\w\d-]+)/g 
      var currentHtml = $(this).html()
      var newText;
      newText = currentHtml.replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>")
      newText = newText.replace(usernameRegex, "$1 @<a href='/$2/'>$2</a>")
      $(this).html(newText)
      // create hashtag
    })
  }

  function formatConvo(convoValue){

      var preContent;
      var container;
      var convoContent;
      var isReply = convoValue.reply;
      var replyId = convoValue.id
      if (convoValue.parent) {
        replyId = convoValue.parent.id
      }

      var openingContainerDiv = "<div class='media'>"
      if (convoValue.id == fetchOneId) {
        openingContainerDiv = "<div class='media media-focus'>"
        setTimeout(function(){
          $('.media-focus').css("background-color", '#fff')
        }, 5000)
      }

      if (convoValue.parent && !isReply){
        convoValue = convoValue.parent
        preContent = "<span class='grey-color'>Reconv by " + convoValue.user.username + " on " + convoValue.date_display + "</span><br/>"
      } else if (convoValue.parent && isReply){
        preContent = "<span class='grey-color'>Reply to @" + convoValue.parent.user.username + "</span><br/>"
      }

      var verb = 'Like'
      if (convoValue.did_like){
        verb = 'Unlike'
      }


      convoContent = "<span class='content'>" + convoValue.content + "</span><br> by <a href='" + convoValue.user.url + "'>" + convoValue.user.username + "</a> | " + convoValue.date_display + " | " +"<a href='/convo/" + convoValue.id + "'>View</a> | " + "<a class='reconvBtn' href='/convo/" + convoValue.id + "/reconv/'>Reconv</a>" + " | <a href='#' class='convo-like' data-id='" + convoValue.id + "''>" + verb + " (" + convoValue.likes + ")</a>" + " | <a href='#' class='convo-reply' data-user='" + convoValue.user.username + "' data-id='" + replyId + "''>Reply</a>"

      if (preContent){
          container = openingContainerDiv + "<div class='media-body'>" + preContent + convoContent + "</div></div><hr/>"      
      } else {
          container = openingContainerDiv + "<div class='media-body'>" + convoContent + "</div></div><hr/>"
      }

        return container
    }
  function attachConvo(convoValue, prepend, reconv){
      
      convoFormattedHtml = formatConvo(convoValue)
      
      if (prepend==true){
      convoContainer.prepend(
        convoFormattedHtml
      )
      } else {
      convoContainer.append(
        convoFormattedHtml
      )
    }
  }

  function parseConvo(){
    if (convoList == 0){
      convoContainer.text("No convos currently found.")
    } else {
      // convo exists parse them
    $.each(convoList, function(key, value){
        var convoKey = key;
        if (value.parent) {
          attachConvo(value, false, true)
        } else {
          attachConvo(value)
        }
      })
    }
  }

  function fetchConvo(url){
  console.log('fetching')
  var fetchUrl;
  if(!url) {
    fetchUrl = initialURL
  } else {
    fetchUrl = url
  }
  $.ajax({
    url: "/api/convo/",
    data: {
      "q": query
    },
    method: "GET",
    success: function(data){
      convoList = data.results
      if (data.next){
        nextConvoUrl = data.next
      } else {
        $("#loadmore").css("display", "none")
      }
      parseConvo()
      updateHashLinks()
      
    },
    error: function(data){
      console.log("error")
      console.log(data)
    }
  })
  }

  function fetchSingle(fetchOneId){
  var fetchDetailUrl = '/api/convo/' + fetchOneId + '/'
  $.ajax({
    url: fetchDetailUrl,
    method: "GET",
    success: function(data){
      console.log(data)
      convoList = data.results
      // if (data.next){
      //   nextConvoUrl = data.next
      // } else {
      //   $("#loadmore").css("display", "none")
      // }
      parseConvo()
      updateHashLinks()
      
    },
    error: function(data){
      console.log("error")
      console.log(data)
    }
  })
  }

if (fetchOneId){
  fetchSingle(fetchOneId)
} else {
  fetchConvo()
}



$("#loadmore").click(function(event){
  event.preventDefault()
  if (nextConvoUrl){
    fetchConvo(nextConvoUrl)
  }
  // load more items
})

  var charsStart = 200;
  var charsCurrent = 0;

  $(".convo-form").append("<span class='convoCharsLeft' style='margin-left: 20px;'>" + charsStart + " left</span>")

  $(".convo-form textarea").keyup(function(event){
    // console.log(event.key, event.timeStamp)
    var convoValue = $(this).val()
    charsCurrent = charsStart - convoValue.length
    var spanChars = $(this).parent().parent().parent().find(".convoCharsLeft")
    spanChars.text(charsCurrent)

    if (charsCurrent > 0){
      // remove classes
      spanChars.removeClass("grey-color")
      spanChars.removeClass("red-color")
    } else if (charsCurrent == 0){
      // add gray class
      spanChars.removeClass("grey-color")
      spanChars.addClass("grey-color")
    } else if (charsCurrent < 0){
      // add red class
      spanChars.removeClass("grey-color")
      spanChars.addClass("red-color")
    }
  })


  $(".convo-form").submit(function(event){
      event.preventDefault()
      var this_ = $(this)
    var formData = this_.serialize()
    if (charsCurrent >= 0) {

    $.ajax({
      url: "/api/convo/create/",
      data: formData,
      method: "POST",
      success: function(data){
        this_.find("input[type=text], textarea").val("")
        attachConvo(data, true)
        updateHashLinks()
        $("#replyModal").modal("hide")
        
      },
      error: function(data){
        console.log("error")
        console.log(data.statusText)
        console.log(data.status)
      }
    })
    } else {
      console.log("Cannot send, too much info...")
      // $("#convo-container").text("Cannot send, too much info...")
    }
  })

}     
    </script>

    {% block script %}{% endblock script %}
    <script>
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 1000;
        var searchInput = $("#navbar-search-form input[type=text]")
        var searchQuery;

        searchInput.keyup(function(event){ 
              searchQuery = $(this).val() 
              
              clearTimeout(typingTimer)
              typingTimer = setTimeout(doneSearchTyping, doneInterval)

        })

        searchInput.keydown(function(event){
              console.log(event.key)
              clearTimeout(typingTimer)
        })

        function doneSearchTyping(){
          if (searchQuery){
            // do search
            var url = '/search/?q=' + searchQuery
            document.location.href = url;
          }
        }

      })
    </script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
      
  </body>
</html>